html {
  overflow: hidden;
}

body {
  background-color: #0083B0;
  background-image: url(fallback-gradient.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#0083B0), to(#00B4DB));
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
  overflow: hidden;
  position: relative;
  height: 100%;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
